extends layout

block content
    div(class='main_page')
        p Welcome to the Drink Day website! Here we sell quality drinks of all different flavors. We specialize in milkshakes, smoothies, and alcoholic beverages.