html {
    background: linear-gradient(to bottom right, #88D, #55D);
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

form,
h3,
h1 {
    margin-left: 10px;
}

h1 {
    font-family: 'Baloo', cursive;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

#transition_test {
    font-size: 1em;
    height: 1.1em;
    width: auto;
    background-color: #99D;
    transition: font-size 5s, height 4s, width 5s;
}

#transition_test:hover {
    font-size: 50px;
}

footer {
    padding-bottom: 4px;
    font-size: 16px;
}

img {
    border-radius: 10px;
    box-shadow: 5px 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.navbar img {
    border-radius: 0px;
    box-shadow: none;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: -12px;
    margin-left: -15px;
}

.drink_name,
.drink_type {
    font-family: 'Baloo', cursive;
    font-size: 20px;
}

.drink_img {
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.drink_img:hover {
    height: 130px;
}

.menu_item {
    display: inline-block;
    width: auto;
    height: 25px;
    margin: 0px;
    padding: 20px 26px;
    padding-left: 25px;
    background: #55F;
    text-align: center;
    text-decoration: none;
}

.menu_item:hover {
    background: #57E;
}

.form_done {
    border: 1px solid black;
    background: linear-gradient(#B7D9FF, #8CCCD6);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    width: 20px;
    align-content: center;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #55F;
}

.main_page {
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(#B7D9FF, #8CCCD6);
    margin: 10px;
}

.input_form {
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(#B7D9FF, #8CCCD6);
    margin: 10px;
}

.service {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(#B7D9FF, #8CCCD6);
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    box-shadow: inset 0px 1px 1px -50px #0273a8;
    background: #3075c9;
    background-color: #3075c9;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 18px;
    text-decoration: none;
    text-shadow: 0px 0px 2px #000000;
}

.button:hover {
    background: linear-gradient(#6ebbff 5%, #3075c9 100%);
    background-color: #6ebbff;
    box-shadow: 0 0 10px #5BD2FF;
}

.button:active {
    position: relative;
    top: 1px;
}

.navbar a li {
    float: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

p {
    margin-left: 5px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #000;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Permanent Marker', cursive;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: 'Permanent Marker', cursive;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}